<kendo-grid
[data]="playerData"
[pageable]="true"
[sortable]="true"

[sort]="playerGridState.sort"
[skip]="playerGridState.skip"
[pageSize]="playerGridState.take"
(dataStateChange)="onDataStateChange($event)"
>
  <kendo-grid-column field="first_name" title="Name" ></kendo-grid-column>
  <kendo-grid-column field="last_name" title="LastName"></kendo-grid-column>
  <kendo-grid-column field="position" title="Position" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.position | positiontranslate}}
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
